# Using Apache Iceberg with Spark 3 in CML

The official documentation for Apache Iceberg with Spark is located at [this link](https://iceberg.apache.org/#getting-started/#using-iceberg-in-spark-3)

For a full list of Apache Iceberg terms, please visit [this link](https://iceberg.apache.org/#terms/)

In [2]:
#spark.sql("DROP TABLE IF EXISTS spark_catalog.testdb.newtesttable")
#spark.sql("DROP TABLE IF EXISTS spark_catalog.testdb.secondtesttable")

In [60]:
spark.stop()

### Start a PySpark Session as shown below. You will want to set the Spark Catalog configurations as shown

In [61]:
"""SimpleApp.py"""
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

spark = SparkSession.builder\
  .appName("1.1 - Ingest") \
  .config("spark.hadoop.fs.s3a.s3guard.ddb.region", "us-east-2")\
  .config("spark.yarn.access.hadoopFileSystems", "s3a://demo-aws-go02")\
  .config("spark.jars","/home/cdsw/lib/iceberg-spark3-runtime-0.9.1.1.13.317211.0-9.jar") \
  .config("spark.sql.extensions","org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions") \
  .config("spark.sql.catalog.spark_catalog","org.apache.iceberg.spark.SparkSessionCatalog") \
  .config("spark.sql.catalog.local","org.apache.iceberg.spark.SparkCatalog") \
  .config("spark.sql.catalog.local.type","hadoop") \
  .config("spark.sql.catalog.spark_catalog.type","hive") \
  .getOrCreate()

### Iceberg comes with catalogs that enable SQL commands to manage tables and load them by name. 
### Catalogs are configured using properties under spark.sql.catalog.(catalog_name).

In [62]:
  # Using a local Spark Catalog

#spark.sql("CREATE DATABASE IF NOT EXISTS spark_catalog.newjar")
spark.sql("USE spark_catalog.testdb")
spark.sql("SHOW CURRENT NAMESPACE").show()
#spark.sql("DROP TABLE testtable")

+-------------+---------+
|      catalog|namespace|
+-------------+---------+
|spark_catalog|   testdb|
+-------------+---------+

### You can use simple Spark SQL commands to create Spark tables as you always have. Just make sure to specify the USING iceberg clause.

In [63]:
spark.sql("CREATE TABLE IF NOT EXISTS newtesttable (id bigint, data string) USING iceberg")

DataFrame[]

### To select a specific table snapshot or the snapshot at some time, Iceberg supports two Spark read options:

* snapshot-id selects a specific table snapshot
* as-of-timestamp selects the current snapshot at a timestamp, in milliseconds

#### You can view all snapshots associated with the table

In [64]:
spark.sql("SELECT * FROM spark_catalog.testdb.newtesttable")

DataFrame[id: bigint, data: string]

In [65]:
spark.read.format("iceberg").load("spark_catalog.testdb.newtesttable.snapshots").show(20, False)

+-----------------------+-------------------+-------------------+---------+-----------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|committed_at           |snapshot_id        |parent_id          |operation|manifest_list                                                                                                                                              |summary                                                                                                                                                                                                                                                                                                       |
+-----------------------+-------------------+-------------------+---------+-----------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|2022-05-19 00:27:36.444|5797822168349485877|null               |append   |s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/metadata/snap-5797822168349485877-1-03061e1e-f684-4d48-99ef-a0a44f5b3fb0.avro|{spark.app.id -> spark-application-1652919800484, added-data-files -> 2, added-records -> 3, added-files-size -> 1244, changed-partition-count -> 1, total-records -> 3, total-files-size -> 1244, total-data-files -> 2, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0}  |
|2022-05-19 00:28:16.897|3326689113563627160|5797822168349485877|append   |s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/metadata/snap-3326689113563627160-1-ba8ef600-1765-4b6e-8295-440f1ed19db0.avro|{spark.app.id -> spark-application-1652919800484, added-data-files -> 2, added-records -> 3, added-files-size -> 1244, changed-partition-count -> 1, total-records -> 6, total-files-size -> 2488, total-data-files -> 4, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0}  |
|2022-05-19 00:36:41.604|2080039523045202901|3326689113563627160|append   |s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/metadata/snap-2080039523045202901-1-b9da32db-7fe7-4742-964e-7668ac5edebc.avro|{spark.app.id -> spark-application-1652919800484, added-data-files -> 1, added-records -> 1, added-files-size -> 622, changed-partition-count -> 1, total-records -> 7, total-files-size -> 3110, total-data-files -> 5, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0}   |
|2022-05-19 00:36:42.87 |8726800525946754873|2080039523045202901|append   |s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/metadata/snap-8726800525946754873-1-4262de11-21b9-44d5-b920-3020697c3ae0.avro|{spark.app.id -> spark-application-1652919800484, added-data-files -> 1, added-records -> 1, added-files-size -> 622, changed-partition-count -> 1, total-records -> 8, total-files-size -> 3732, total-data-files -> 6, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0}   |
|2022-05-19 00:36:43.934|5250560437891035012|8726800525946754873|append   |s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/metadata/snap-5250560437891035012-1-9c28ea48-7ac1-4211-b4ea-b7ec054570af.avro|{spark.app.id -> spark-application-1652919800484, added-data-files -> 1, added-records -> 1, added-files-size -> 622, changed-partition-count -> 1, total-records -> 9, total-files-size -> 4354, total-data-files -> 7, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0}   |
|2022-05-19 00:36:44.966|3502850421386520639|5250560437891035012|append   |s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/metadata/snap-3502850421386520639-1-2cba0459-7eb1-4c88-bfc7-6cab5b00afc8.avro|{spark.app.id -> spark-application-1652919800484, added-data-files -> 1, added-records -> 1, added-files-size -> 622, changed-partition-count -> 1, total-records -> 10, total-files-size -> 4976, total-data-files -> 8, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0}  |
|2022-05-19 00:36:46.076|6484488418513084975|3502850421386520639|append   |s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/metadata/snap-6484488418513084975-1-48e7ea2d-09c1-4510-9636-c00a125113e5.avro|{spark.app.id -> spark-application-1652919800484, added-data-files -> 1, added-records -> 1, added-files-size -> 622, changed-partition-count -> 1, total-records -> 11, total-files-size -> 5598, total-data-files -> 9, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0}  |
|2022-05-19 00:36:47.109|6131843803655349628|6484488418513084975|append   |s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/metadata/snap-6131843803655349628-1-f98692e9-e835-47b9-9dd7-8dd95ba8c1d4.avro|{spark.app.id -> spark-application-1652919800484, added-data-files -> 1, added-records -> 1, added-files-size -> 622, changed-partition-count -> 1, total-records -> 12, total-files-size -> 6220, total-data-files -> 10, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0} |
|2022-05-19 00:36:48.125|9149412625213001646|6131843803655349628|append   |s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/metadata/snap-9149412625213001646-1-fc3ab2a3-c676-4156-80e9-60f444fe8440.avro|{spark.app.id -> spark-application-1652919800484, added-data-files -> 1, added-records -> 1, added-files-size -> 622, changed-partition-count -> 1, total-records -> 13, total-files-size -> 6842, total-data-files -> 11, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0} |
|2022-05-19 00:36:49.154|7899258739660324236|9149412625213001646|append   |s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/metadata/snap-7899258739660324236-1-35178f9e-d36f-4c8e-87f0-43aef8981f95.avro|{spark.app.id -> spark-application-1652919800484, added-data-files -> 1, added-records -> 1, added-files-size -> 622, changed-partition-count -> 1, total-records -> 14, total-files-size -> 7464, total-data-files -> 12, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0} |
|2022-05-19 00:36:50.275|3534193066800053318|7899258739660324236|append   |s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/metadata/snap-3534193066800053318-1-a6d41404-7850-4bb4-9968-dbbea26f69d6.avro|{spark.app.id -> spark-application-1652919800484, added-data-files -> 1, added-records -> 1, added-files-size -> 622, changed-partition-count -> 1, total-records -> 15, total-files-size -> 8086, total-data-files -> 13, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0} |
|2022-05-19 00:36:51.352|1934686370749576161|3534193066800053318|append   |s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/metadata/snap-1934686370749576161-1-88afb9a7-3172-4f8a-9c6b-ff3f503720b5.avro|{spark.app.id -> spark-application-1652919800484, added-data-files -> 1, added-records -> 1, added-files-size -> 622, changed-partition-count -> 1, total-records -> 16, total-files-size -> 8708, total-data-files -> 14, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0} |
|2022-05-19 00:36:52.394|5426517119305366496|1934686370749576161|append   |s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/metadata/snap-5426517119305366496-1-0d343ec4-03d6-4f35-89a2-4dc7c4e22ff7.avro|{spark.app.id -> spark-application-1652919800484, added-data-files -> 1, added-records -> 1, added-files-size -> 622, changed-partition-count -> 1, total-records -> 17, total-files-size -> 9330, total-data-files -> 15, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0} |
|2022-05-19 00:36:53.462|373037863119265479 |5426517119305366496|append   |s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/metadata/snap-373037863119265479-1-fec1ac7a-21bf-443b-8982-2530b28daff4.avro |{spark.app.id -> spark-application-1652919800484, added-data-files -> 1, added-records -> 1, added-files-size -> 622, changed-partition-count -> 1, total-records -> 18, total-files-size -> 9952, total-data-files -> 16, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0} |
|2022-05-19 00:36:54.518|5758957638750915040|373037863119265479 |append   |s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/metadata/snap-5758957638750915040-1-cd7c35a3-9568-4116-9217-ebe06b4fb058.avro|{spark.app.id -> spark-application-1652919800484, added-data-files -> 1, added-records -> 1, added-files-size -> 621, changed-partition-count -> 1, total-records -> 19, total-files-size -> 10573, total-data-files -> 17, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0}|
|2022-05-19 00:36:55.545|8456174629502915114|5758957638750915040|append   |s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/metadata/snap-8456174629502915114-1-f1bc3096-05a0-4941-9173-9bc9469b5014.avro|{spark.app.id -> spark-application-1652919800484, added-data-files -> 1, added-records -> 1, added-files-size -> 622, changed-partition-count -> 1, total-records -> 20, total-files-size -> 11195, total-data-files -> 18, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0}|
|2022-05-19 00:36:56.526|919494437088828330 |8456174629502915114|append   |s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/metadata/snap-919494437088828330-1-3aa628a5-c9d6-45db-bafb-2097f1fc5816.avro |{spark.app.id -> spark-application-1652919800484, added-data-files -> 1, added-records -> 1, added-files-size -> 622, changed-partition-count -> 1, total-records -> 21, total-files-size -> 11817, total-data-files -> 19, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0}|
|2022-05-19 00:36:57.604|8941097323185820492|919494437088828330 |append   |s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/metadata/snap-8941097323185820492-1-211c40dd-47cf-4e31-aa5c-b649bcdb8911.avro|{spark.app.id -> spark-application-1652919800484, added-data-files -> 1, added-records -> 1, added-files-size -> 622, changed-partition-count -> 1, total-records -> 22, total-files-size -> 12439, total-data-files -> 20, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0}|
|2022-05-19 00:36:58.628|6624958993800383470|8941097323185820492|append   |s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/metadata/snap-6624958993800383470-1-8d7e56a1-1b66-4a99-8760-a62676cecf30.avro|{spark.app.id -> spark-application-1652919800484, added-data-files -> 1, added-records -> 1, added-files-size -> 622, changed-partition-count -> 1, total-records -> 23, total-files-size -> 13061, total-data-files -> 21, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0}|
|2022-05-19 00:36:59.632|8215457020905462961|6624958993800383470|append   |s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/metadata/snap-8215457020905462961-1-40995ae2-9480-4055-9d4f-ef13ba4dd628.avro|{spark.app.id -> spark-application-1652919800484, added-data-files -> 1, added-records -> 1, added-files-size -> 622, changed-partition-count -> 1, total-records -> 24, total-files-size -> 13683, total-data-files -> 22, total-delete-files -> 0, total-position-deletes -> 0, total-equality-deletes -> 0}|
+-----------------------+-------------------+-------------------+---------+-----------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

#### Or a full table version history

In [66]:
spark.read.format("iceberg").load("spark_catalog.testdb.newtesttable.history").show(20, False)

+-----------------------+-------------------+-------------------+-------------------+
|made_current_at        |snapshot_id        |parent_id          |is_current_ancestor|
+-----------------------+-------------------+-------------------+-------------------+
|2022-05-19 00:27:36.444|5797822168349485877|null               |true               |
|2022-05-19 00:28:16.897|3326689113563627160|5797822168349485877|true               |
|2022-05-19 00:36:41.604|2080039523045202901|3326689113563627160|true               |
|2022-05-19 00:36:42.87 |8726800525946754873|2080039523045202901|true               |
|2022-05-19 00:36:43.934|5250560437891035012|8726800525946754873|true               |
|2022-05-19 00:36:44.966|3502850421386520639|5250560437891035012|true               |
|2022-05-19 00:36:46.076|6484488418513084975|3502850421386520639|true               |
|2022-05-19 00:36:47.109|6131843803655349628|6484488418513084975|true               |
|2022-05-19 00:36:48.125|9149412625213001646|6131843803655349628|true               |
|2022-05-19 00:36:49.154|7899258739660324236|9149412625213001646|true               |
|2022-05-19 00:36:50.275|3534193066800053318|7899258739660324236|true               |
|2022-05-19 00:36:51.352|1934686370749576161|3534193066800053318|true               |
|2022-05-19 00:36:52.394|5426517119305366496|1934686370749576161|true               |
|2022-05-19 00:36:53.462|373037863119265479 |5426517119305366496|true               |
|2022-05-19 00:36:54.518|5758957638750915040|373037863119265479 |true               |
|2022-05-19 00:36:55.545|8456174629502915114|5758957638750915040|true               |
|2022-05-19 00:36:56.526|919494437088828330 |8456174629502915114|true               |
|2022-05-19 00:36:57.604|8941097323185820492|919494437088828330 |true               |
|2022-05-19 00:36:58.628|6624958993800383470|8941097323185820492|true               |
|2022-05-19 00:36:59.632|8215457020905462961|6624958993800383470|true               |
+-----------------------+-------------------+-------------------+-------------------+
only showing top 20 rows

#### To show a table’s data files and each file’s metadata, run:

In [67]:
spark.read.format("iceberg").load("spark_catalog.testdb.newtesttable.files").show(20, False)

+-------+----------------------------------------------------------------------------------------------------------------------------------------------+-----------+------------+------------------+------------------+----------------+-----------------+----------------+-----------------------+-----------------------+------------+-------------+------------+
|content|file_path                                                                                                                                     |file_format|record_count|file_size_in_bytes|column_sizes      |value_counts    |null_value_counts|nan_value_counts|lower_bounds           |upper_bounds           |key_metadata|split_offsets|equality_ids|
+-------+----------------------------------------------------------------------------------------------------------------------------------------------+-----------+------------+------------------+------------------+----------------+-----------------+----------------+-----------------------+-----------------------+------------+-------------+------------+
|0      |s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/data/00000-39-62ed4a68-19e6-41f6-a476-2d72ae98e813-00001.parquet|PARQUET    |1           |622               |{1 -> 46, 2 -> 48}|{1 -> 1, 2 -> 1}|{1 -> 0, 2 -> 0} |{}              |{1 ->        , 2 -> X}|{1 ->        , 2 -> X}|null        |[4]          |null        |
|0      |s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/data/00000-38-a3e6dacc-ccfb-40de-bc04-06d763ac52a9-00001.parquet|PARQUET    |1           |622               |{1 -> 46, 2 -> 48}|{1 -> 1, 2 -> 1}|{1 -> 0, 2 -> 0} |{}              |{1 ->        , 2 -> P}|{1 ->        , 2 -> P}|null        |[4]          |null        |
|0      |s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/data/00000-37-dbbc991b-8622-4fa8-ab6d-56e84f10cf0a-00001.parquet|PARQUET    |1           |622               |{1 -> 46, 2 -> 48}|{1 -> 1, 2 -> 1}|{1 -> 0, 2 -> 0} |{}              |{1 ->        , 2 -> G}|{1 ->        , 2 -> G}|null        |[4]          |null        |
|0      |s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/data/00000-36-01386018-a642-4800-9417-362cc2c9ac05-00001.parquet|PARQUET    |1           |622               |{1 -> 46, 2 -> 48}|{1 -> 1, 2 -> 1}|{1 -> 0, 2 -> 0} |{}              |{1 ->
       , 2 -> K}|{1 ->
       , 2 -> K}|null        |[4]          |null        |
|0      |s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/data/00000-35-2a5e6677-f383-4a91-a9b9-9115174ad391-00001.parquet|PARQUET    |1           |622               |{1 -> 46, 2 -> 48}|{1 -> 1, 2 -> 1}|{1 -> 0, 2 -> 0} |{}              |{1 ->        , 2 -> M}|{1 ->        , 2 -> M}|null        |[4]          |null        |
|0      |s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/data/00000-34-f0aac6e7-0727-404f-a7b5-a19522f3d026-00001.parquet|PARQUET    |1           |622               |{1 -> 46, 2 -> 48}|{1 -> 1, 2 -> 1}|{1 -> 0, 2 -> 0} |{}              |{1 ->
       , 2 -> V}|{1 ->
       , 2 -> V}|null        |[4]          |null        |
|0      |s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/data/00000-33-a83e683c-2b50-4a95-a502-45641492e80e-00001.parquet|PARQUET    |1           |622               |{1 -> 46, 2 -> 48}|{1 -> 1, 2 -> 1}|{1 -> 0, 2 -> 0} |{}              |{1 ->        , 2 -> H}|{1 ->        , 2 -> H}|null        |[4]          |null        |
|0      |s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/data/00000-32-7760e7f0-aa11-4575-8510-8183ebee0428-00001.parquet|PARQUET    |1           |622               |{1 -> 46, 2 -> 48}|{1 -> 1, 2 -> 1}|{1 -> 0, 2 -> 0} |{}              |{1 ->        , 2 -> w}|{1 ->        , 2 -> w}|null        |[4]          |null        |
|0      |s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/data/00000-31-c3736141-6680-4b18-a149-5484c240c4b7-00001.parquet|PARQUET    |1           |622               |{1 -> 46, 2 -> 48}|{1 -> 1, 2 -> 1}|{1 -> 0, 2 -> 0} |{}              |{1 -> 	       , 2 -> D}|{1 -> 	       , 2 -> D}|null        |[4]          |null        |
|0      |s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/data/00000-30-33a81f4c-43d2-4434-86c4-33fb8b2cb464-00001.parquet|PARQUET    |1           |622               |{1 -> 46, 2 -> 48}|{1 -> 1, 2 -> 1}|{1 -> 0, 2 -> 0} |{}              |{1 ->        , 2 -> K}|{1 ->        , 2 -> K}|null        |[4]          |null        |
|0      |s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/data/00000-29-eec4f2ce-1fdf-4df3-bb14-b8c8c88e7539-00001.parquet|PARQUET    |1           |622               |{1 -> 46, 2 -> 48}|{1 -> 1, 2 -> 1}|{1 -> 0, 2 -> 0} |{}              |{1 ->        , 2 -> a}|{1 ->        , 2 -> a}|null        |[4]          |null        |
|0      |s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/data/00000-28-39edaff8-f6d8-4557-99ac-1c9eb052b7b7-00001.parquet|PARQUET    |1           |621               |{1 -> 45, 2 -> 48}|{1 -> 1, 2 -> 1}|{1 -> 0, 2 -> 0} |{}              |{1 ->        , 2 -> j}|{1 ->        , 2 -> j}|null        |[4]          |null        |
|0      |s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/data/00000-27-487a17dd-1bb8-42ed-a77d-399185169bc0-00001.parquet|PARQUET    |1           |622               |{1 -> 46, 2 -> 48}|{1 -> 1, 2 -> 1}|{1 -> 0, 2 -> 0} |{}              |{1 ->       , 2 -> R}|{1 ->       , 2 -> R}|null        |[4]          |null        |
|0      |s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/data/00000-26-9c3d2718-7448-4a40-8898-396e6fd30cfc-00001.parquet|PARQUET    |1           |621               |{1 -> 45, 2 -> 48}|{1 -> 1, 2 -> 1}|{1 -> 0, 2 -> 0} |{}              |{1 ->        , 2 -> P}|{1 ->        , 2 -> P}|null        |[4]          |null        |
|0      |s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/data/00000-25-a0427165-22a2-497b-843c-60c02d3e5b0a-00001.parquet|PARQUET    |1           |622               |{1 -> 46, 2 -> 48}|{1 -> 1, 2 -> 1}|{1 -> 0, 2 -> 0} |{}              |{1 ->        , 2 -> X}|{1 ->        , 2 -> X}|null        |[4]          |null        |
|0      |s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/data/00000-24-c8bf998d-4027-4489-9672-ca611e767ba5-00001.parquet|PARQUET    |1           |621               |{1 -> 45, 2 -> 48}|{1 -> 1, 2 -> 1}|{1 -> 0, 2 -> 0} |{}              |{1 ->        , 2 -> P}|{1 ->        , 2 -> P}|null        |[4]          |null        |
|0      |s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/data/00000-23-231f4985-1356-4521-afe8-74e80720f683-00001.parquet|PARQUET    |1           |622               |{1 -> 46, 2 -> 48}|{1 -> 1, 2 -> 1}|{1 -> 0, 2 -> 0} |{}              |{1 ->        , 2 -> X}|{1 ->        , 2 -> X}|null        |[4]          |null        |
|0      |s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/data/00000-22-e1a762ed-2d5e-41a3-a0cc-e967007b4bc5-00001.parquet|PARQUET    |1           |622               |{1 -> 46, 2 -> 48}|{1 -> 1, 2 -> 1}|{1 -> 0, 2 -> 0} |{}              |{1 -> 	       , 2 -> x}|{1 -> 	       , 2 -> x}|null        |[4]          |null        |
|0      |s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/data/00000-21-f7876fe9-9e83-48d9-8555-1ed848deb10d-00001.parquet|PARQUET    |1           |622               |{1 -> 46, 2 -> 48}|{1 -> 1, 2 -> 1}|{1 -> 0, 2 -> 0} |{}              |{1 ->
       , 2 -> e}|{1 ->
       , 2 -> e}|null        |[4]          |null        |
|0      |s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/data/00000-20-7e91fbd5-9578-4c1e-9005-e2c13861f8af-00001.parquet|PARQUET    |1           |622               |{1 -> 46, 2 -> 48}|{1 -> 1, 2 -> 1}|{1 -> 0, 2 -> 0} |{}              |{1 ->        , 2 -> k}|{1 ->        , 2 -> k}|null        |[4]          |null        |
+-------+----------------------------------------------------------------------------------------------------------------------------------------------+-----------+------------+------------------+------------------+----------------+-----------------+----------------+-----------------------+-----------------------+------------+-------------+------------+
only showing top 20 rows

### A manifest file is a metadata file that lists a subset of data files that make up a snapshot.

### Each data file in a manifest is stored with a partition tuple, column-level stats, and summary information used to prune splits during scan planning.

#### To show a table’s file manifests and each file’s metadata, run:

In [68]:
spark.read.format("iceberg").load("spark_catalog.testdb.newtesttable.manifests").show(20, False)

+-----------------------------------------------------------------------------------------------------------------------------------+------+-----------------+-------------------+----------------------+-------------------------+------------------------+-------------------+
|path                                                                                                                               |length|partition_spec_id|added_snapshot_id  |added_data_files_count|existing_data_files_count|deleted_data_files_count|partition_summaries|
+-----------------------------------------------------------------------------------------------------------------------------------+------+-----------------+-------------------+----------------------+-------------------------+------------------------+-------------------+
|s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/metadata/939c9bae-bb1f-4a5e-a792-11c5900a55ab-m0.avro|5599  |0                |7365436161241313619|1                     |0                        |0                       |[]                 |
|s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/metadata/17ad6847-7711-4fcc-bb4f-19c71f1542d5-m0.avro|5598  |0                |4493012414945424199|1                     |0                        |0                       |[]                 |
|s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/metadata/49c9d717-cc74-4bae-a265-09d19281178b-m0.avro|5598  |0                |1164632391803443309|1                     |0                        |0                       |[]                 |
|s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/metadata/db8eee41-ec9c-4ab6-9916-351c503cd272-m0.avro|5595  |0                |3262413394878189407|1                     |0                        |0                       |[]                 |
|s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/metadata/44fed898-ec1a-4293-81e7-e76bae8065a8-m0.avro|5596  |0                |109507450975874535 |1                     |0                        |0                       |[]                 |
|s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/metadata/79904a14-93c1-44ce-84ac-27fb78d65ced-m0.avro|5598  |0                |3792255592894337398|1                     |0                        |0                       |[]                 |
|s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/metadata/347ef7e2-c65b-435d-91bf-55f804167be4-m0.avro|5598  |0                |3564302959174000179|1                     |0                        |0                       |[]                 |
|s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/metadata/48924224-8f47-4d39-902f-e5d7e47cc5e4-m0.avro|5598  |0                |585031094248925637 |1                     |0                        |0                       |[]                 |
|s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/metadata/e45cbb89-54d5-4162-94be-07046ea9dfd8-m0.avro|5598  |0                |3220696071393642179|1                     |0                        |0                       |[]                 |
|s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/metadata/7f2574ff-9e4c-4ae3-8425-117d8579478c-m0.avro|5595  |0                |3405255225303221715|1                     |0                        |0                       |[]                 |
|s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/metadata/9a8cb419-8ff0-454f-8517-82303ee76ff8-m0.avro|5597  |0                |6847117683868691402|1                     |0                        |0                       |[]                 |
|s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/metadata/ad654d81-0268-49af-aa60-5da5c78cd7ee-m0.avro|5599  |0                |8804737417880670287|1                     |0                        |0                       |[]                 |
|s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/metadata/ed23c64d-646c-4c62-abe0-471d7fd1bd8e-m0.avro|5598  |0                |3257953117229162659|1                     |0                        |0                       |[]                 |
|s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/metadata/03b5f8ae-ef0e-4449-89e1-02cb9c2a9c6f-m0.avro|5598  |0                |3732764586587101101|1                     |0                        |0                       |[]                 |
|s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/metadata/4449da16-9e4d-4f77-b79e-89b10f31611a-m0.avro|5599  |0                |7509077849794613487|1                     |0                        |0                       |[]                 |
|s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/metadata/74e92b90-5b00-4c6d-ab58-02eb08a02f62-m0.avro|5598  |0                |2796990013176507477|1                     |0                        |0                       |[]                 |
|s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/metadata/99ac8d92-5b38-4aaf-b7c2-0927e86c0221-m0.avro|5597  |0                |7660354957349069526|1                     |0                        |0                       |[]                 |
|s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/metadata/de68f247-2f7b-44db-affe-180d7d474162-m0.avro|5599  |0                |8054197342119973192|1                     |0                        |0                       |[]                 |
|s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/metadata/19ed1951-9697-4b03-8d2d-2ad99ad5ae5b-m0.avro|5598  |0                |6373326086439175233|1                     |0                        |0                       |[]                 |
|s3a://demo-aws-go02/warehouse/tablespace/external/hive/testdb.db/newtesttable/metadata/260795c7-436a-4321-93ca-eb552064d71a-m0.avro|5599  |0                |5868289905218103034|1                     |0                        |0                       |[]                 |
+-----------------------------------------------------------------------------------------------------------------------------------+------+-----------------+-------------------+----------------------+-------------------------+------------------------+-------------------+
only showing top 20 rows

## Time Travel

### Using snapshots as shown above, we can insert some data into the table and roll back to its original state

In [69]:
# Insert using Iceberg format
spark.sql("INSERT INTO spark_catalog.testdb.newtesttable VALUES (1, 'x'), (2, 'y'), (3, 'z')")

DataFrame[]

In [70]:
# Query using select
spark.sql("SELECT * FROM spark_catalog.testdb.newtesttable").show()

+---+----+
| id|data|
+---+----+
| 10|   M|
|  1|   d|
|  2|   e|
|  3|   f|
|  9|   x|
|  6|   u|
|  3|   g|
|  5|   D|
|  9|   D|
|  6|   F|
|  8|   G|
|  8|   Q|
|  2|   X|
|  6|   R|
|  1|   x|
|  2|   y|
|  3|   z|
|  9|   j|
|  0|   g|
|  0|   i|
+---+----+
only showing top 20 rows

In [71]:
# Query using DF - All Data
df = spark.table("spark_catalog.testdb.newtesttable")
df.show(100)

+---+----+
| id|data|
+---+----+
| 10|   M|
|  1|   d|
|  2|   e|
|  3|   f|
|  9|   x|
|  6|   u|
|  3|   g|
|  5|   D|
|  9|   D|
|  6|   F|
|  8|   G|
|  8|   Q|
|  2|   X|
|  6|   R|
|  1|   x|
|  2|   y|
|  3|   z|
|  9|   j|
|  0|   g|
|  0|   i|
|  7|   K|
| 10|   K|
|  5|   p|
|  7|   v|
|  7|   V|
|  5|   M|
|  3|   X|
|  4|   P|
|  8|   y|
|  6|   H|
|  0|   Y|
|  9|   i|
|  1|   x|
|  2|   y|
|  3|   z|
| 10|   V|
|  4|   P|
|  1|   x|
|  2|   y|
|  3|   z|
|  6|   z|
|  2|   X|
|  4|   q|
|  0|   Z|
|  5|   X|
|  7|   w|
|  5|   k|
|  3|   P|
|  0|   K|
|  3|   a|
|  2|   U|
|  8|   R|
|  4|   j|
|  8|   p|
|  1|   x|
|  2|   y|
|  3|   z|
|  2|   G|
|  0|   Q|
| 10|   e|
|  1|   d|
|  2|   e|
|  3|   f|
|  0|   O|
|  1|   w|
|  7|   v|
| 10|   w|
|  3|   z|
+---+----+

In [72]:
from datetime import datetime

# current date and time
now = datetime.now()

timestamp = datetime.timestamp(now)
print("timestamp =", timestamp)

timestamp = 1653348163.46654

#### Timestamps can be tricky. Please make sure to round your timestamp as shown below.

In [73]:
# Query using a point in time
df = spark.read.option("as-of-timestamp", int(timestamp*1000)).format("iceberg").load("spark_catalog.testdb.newtesttable")
df.show(100)

+---+----+
| id|data|
+---+----+
| 10|   M|
|  1|   d|
|  2|   e|
|  3|   f|
|  9|   x|
|  6|   u|
|  3|   g|
|  5|   D|
|  9|   D|
|  6|   F|
|  8|   G|
|  8|   Q|
|  2|   X|
|  6|   R|
|  1|   x|
|  2|   y|
|  3|   z|
|  9|   j|
|  0|   g|
|  0|   i|
|  7|   K|
| 10|   K|
|  5|   p|
|  7|   v|
|  7|   V|
|  5|   M|
|  3|   X|
|  4|   P|
|  8|   y|
|  6|   H|
|  0|   Y|
|  9|   i|
|  1|   x|
|  2|   y|
|  3|   z|
| 10|   V|
|  4|   P|
|  1|   x|
|  2|   y|
|  3|   z|
|  6|   z|
|  2|   X|
|  4|   q|
|  0|   Z|
|  5|   X|
|  7|   w|
|  5|   k|
|  3|   P|
|  0|   K|
|  3|   a|
|  2|   U|
|  8|   R|
|  4|   j|
|  8|   p|
|  1|   x|
|  2|   y|
|  3|   z|
|  2|   G|
|  0|   Q|
| 10|   e|
|  1|   d|
|  2|   e|
|  3|   f|
|  0|   O|
|  1|   w|
|  7|   v|
| 10|   w|
|  3|   z|
+---+----+

In [74]:
# Insert using Iceberg format
spark.sql("INSERT INTO spark_catalog.testdb.newtesttable VALUES (1, 'd'), (2, 'e'), (3, 'f')")

DataFrame[]

### Let's insert more data into the table

In [75]:
# Insert using Iceberg format
import string
import random

for i in range(25):
    number = random.randint(0, 10)
    letter = random.choice(string.ascii_letters)
    spark.sql("INSERT INTO spark_catalog.testdb.newtesttable VALUES ({}, '{}')".format(number, letter))

### Now let's access the data again. Let's access it with the same timestemp as before. Notice we have a smaller number of rows than we just inserted.

In [76]:
# Query using a point in time
df = spark.read.option("as-of-timestamp", int(timestamp*1000)).format("iceberg").load("spark_catalog.testdb.newtesttable")
df.show(100)

+---+----+
| id|data|
+---+----+
| 10|   M|
|  1|   d|
|  2|   e|
|  3|   f|
|  9|   x|
|  6|   u|
|  3|   g|
|  5|   D|
|  9|   D|
|  6|   F|
|  8|   G|
|  8|   Q|
|  2|   X|
|  6|   R|
|  1|   x|
|  2|   y|
|  3|   z|
|  9|   j|
|  0|   g|
|  0|   i|
|  7|   K|
| 10|   K|
|  5|   p|
|  7|   v|
|  7|   V|
|  5|   M|
|  3|   X|
|  4|   P|
|  8|   y|
|  6|   H|
|  0|   Y|
|  9|   i|
|  1|   x|
|  2|   y|
|  3|   z|
| 10|   V|
|  4|   P|
|  1|   x|
|  2|   y|
|  3|   z|
|  6|   z|
|  2|   X|
|  4|   q|
|  0|   Z|
|  5|   X|
|  7|   w|
|  5|   k|
|  3|   P|
|  0|   K|
|  3|   a|
|  2|   U|
|  8|   R|
|  4|   j|
|  8|   p|
|  1|   x|
|  2|   y|
|  3|   z|
|  2|   G|
|  0|   Q|
| 10|   e|
|  1|   d|
|  2|   e|
|  3|   f|
|  0|   O|
|  1|   w|
|  7|   v|
| 10|   w|
|  3|   z|
+---+----+

### Observe that many new Snapshots have been created

In [77]:
spark.read.format("iceberg").load("spark_catalog.testdb.newtesttable.history").show(20, False)

+-----------------------+-------------------+-------------------+-------------------+
|made_current_at        |snapshot_id        |parent_id          |is_current_ancestor|
+-----------------------+-------------------+-------------------+-------------------+
|2022-05-19 00:27:36.444|5797822168349485877|null               |true               |
|2022-05-19 00:28:16.897|3326689113563627160|5797822168349485877|true               |
|2022-05-19 00:36:41.604|2080039523045202901|3326689113563627160|true               |
|2022-05-19 00:36:42.87 |8726800525946754873|2080039523045202901|true               |
|2022-05-19 00:36:43.934|5250560437891035012|8726800525946754873|true               |
|2022-05-19 00:36:44.966|3502850421386520639|5250560437891035012|true               |
|2022-05-19 00:36:46.076|6484488418513084975|3502850421386520639|true               |
|2022-05-19 00:36:47.109|6131843803655349628|6484488418513084975|true               |
|2022-05-19 00:36:48.125|9149412625213001646|6131843803655349628|true               |
|2022-05-19 00:36:49.154|7899258739660324236|9149412625213001646|true               |
|2022-05-19 00:36:50.275|3534193066800053318|7899258739660324236|true               |
|2022-05-19 00:36:51.352|1934686370749576161|3534193066800053318|true               |
|2022-05-19 00:36:52.394|5426517119305366496|1934686370749576161|true               |
|2022-05-19 00:36:53.462|373037863119265479 |5426517119305366496|true               |
|2022-05-19 00:36:54.518|5758957638750915040|373037863119265479 |true               |
|2022-05-19 00:36:55.545|8456174629502915114|5758957638750915040|true               |
|2022-05-19 00:36:56.526|919494437088828330 |8456174629502915114|true               |
|2022-05-19 00:36:57.604|8941097323185820492|919494437088828330 |true               |
|2022-05-19 00:36:58.628|6624958993800383470|8941097323185820492|true               |
|2022-05-19 00:36:59.632|8215457020905462961|6624958993800383470|true               |
+-----------------------+-------------------+-------------------+-------------------+
only showing top 20 rows

### You can also query the table in its previous state as of a specific partition.

#### Copy paste a partition_id from above and paste it in the next Spark command

In [78]:
spark.read\
    .option("snapshot-id", 6484488418513084975)\
    .table("spark_catalog.testdb.newtesttable").show()

+---+----+
| id|data|
+---+----+
|  8|   p|
|  1|   d|
|  2|   e|
|  3|   f|
|  1|   w|
|  7|   v|
|  0|   g|
|  1|   x|
|  2|   y|
|  3|   z|
|  7|   v|
+---+----+

### The Iceberg API allows you to create tables from Spark Dataframes, and more

In [79]:
new_df = spark.sql("SELECT * FROM spark_catalog.testdb.newtesttable").sample(fraction=0.5, seed=3)

In [80]:
new_df.dtypes

[('id', 'bigint'), ('data', 'string')]

In [81]:
new_df.show()

+---+----+
| id|data|
+---+----+
| 10|   M|
|  9|   x|
|  6|   u|
|  5|   D|
|  6|   F|
|  6|   R|
|  8|   r|
|  1|   x|
|  9|   j|
|  0|   i|
| 10|   K|
|  5|   p|
|  3|   j|
|  6|   G|
|  7|   V|
|  5|   M|
|  3|   X|
|  6|   O|
|  5|   i|
|  1|   d|
+---+----+
only showing top 20 rows

#### Creating a new Spark Table with the API and Loading It

In [82]:
#spark.sql("DROP TABLE IF EXISTS spark_catalog.testdb.secondtesttable")

In [29]:
new_df.writeTo("spark_catalog.testdb.secondtesttable").create()

In [52]:
new_df_nodups = new_df.dropDuplicates(["id"])

In [53]:
new_df_nodups.show()

+---+----+
| id|data|
+---+----+
|  0|   Z|
|  7|   K|
|  6|   z|
|  9|   x|
|  5|   M|
|  1|   x|
| 10|   e|
|  3|   z|
|  8|   p|
|  2|   y|
|  4|   P|
+---+----+

#### More ETL SQL Operations

In [31]:
spark.sql("INSERT INTO spark_catalog.testdb.secondtesttable SELECT * FROM spark_catalog.testdb.newtesttable")

DataFrame[]

In [43]:
new_df.count()

33

In [40]:
second_df = spark.sql("SELECT * FROM spark_catalog.testdb.secondtesttable")

In [42]:
second_df.count()

98

In [44]:
second_df=second_df.withColumn("id", second_df.id*3)

In [54]:
sec_df_nodups = second_df.dropDuplicates(["id"])

In [55]:
sec_df_nodups.show()

+---+----+
| id|data|
+---+----+
|  0|   g|
|  6|   y|
|  9|   f|
| 27|   x|
|  3|   d|
| 12|   P|
| 18|   u|
| 21|   K|
| 15|   D|
| 30|MMMM|
| 24|   G|
+---+----+

In [56]:
new_df_nodups.writeTo("spark_catalog.testdb.new_df_nodups").create()

In [57]:
sec_df_nodups.writeTo("spark_catalog.testdb.sec_df_nodups").create()

#### Update and Merge Into SQL Operations

In [94]:
#spark.sql("UPDATE spark_catalog.testdb.new_df_nodups SET data = '?' WHERE id = (SELECT id FROM spark_catalog.testdb.sec_df_nodups)")

In [ ]:
#spark.sql(
#"MERGE INTO spark_catalog.testdb.new_df_nodups t USING (SELECT * FROM spark_catalog.testdb.sec_df_nodups) u ON t.id = u.id \
#WHEN MATCHED THEN UPDATE SET t.data = u.data + t.data \
#WHEN NOT MATCHED THEN INSERT *")

In [ ]:
spark.sql("SELECT count(*) FROM spark_catalog.testdb.new_df_nodups").show()

In [ ]:
spark.sql("SELECT * FROM spark_catalog.testdb.new_df_nodups").show()